Body {
  background-color: #F1F2F6;
}

.App {
  text-align: center;
}

.Board {
  position: relative;
  align-content: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.Board .Info {
  flex-basis: 100%;
  text-align: start;
  padding: 1%;
  display: flex;
  flex-flow: row wrap;
}

.Board .Info .Mode {
  flex: 1 0;
}

.Board .Info .Score {
  text-align: end;
  flex: 1 0;
}

.Board .Info .Buttons {
  flex-grow: 1;
  text-align: center;
}

@media(max-width: 700px) {
  .Board .Info .Mode {
    order: 1;
  }
  .Board .Info .Score{
    order: 2;
  }
  .Board .Info .Buttons {
    flex-basis: 100%;
    order: 3;
  }
}

.Card {
  border-radius: 10px;
  background-color: white;
  box-sizing: border-box;
  flex-basis: 23%;
  margin: 1%;
  padding: 10px;
  position: relative;
  width: 250px;
}

@media(max-width: 1333px) {
  .Card {
    flex-basis: 23%;
  }
}

@media(max-width: 1073px) {
  .Card {
    flex-basis: 31%;
  }
}

@media (max-width: 700px) {
  .Card {
    flex-basis: 48%;
  }
}

.Card.Selected {
  background-color: #bbb;
}

.Card:hover {
  background-color: #ddd;
}

.Card .Dot {
  background-color: purple;
  bottom: 15px;
  border-radius: 50%;
  height: 15px;
  position: absolute;
  right: 15px;
  width: 15px;
}

.Button {
  background-color: #bbb;
  border: none;
  border-radius: 10px;
  border-style: none;
  height: 50px;
  width: 100px;
  margin: 1%;
}

.Button:active {
  background-color: #aaa;
}

.Header {
}

.Svg {
  margin: 2%;
}

.Endgame {
  width: 100%;
  text-align: center;

}
