.App {
  background-color: #FFECC7;
  height: 100vh;
  text-align: center;
}

.Board {
  position: relative;
  align-content: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.Card {
  border: 10px solid #FFECC7;
  background-color: #85A392;
  box-sizing: border-box;
  flex-basis: 25%;
  position: relative;
  width: 250px;
}

.Card.Selected {
  border: 6px solid #FDD994;
}

.Card:hover {
  border: 10px solid #FDD994;
}

.Button {
  background-color: #B590CA;
  border: none;
  height: 50px;
  width: 100px;
}
